#products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  #products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  #products {
    grid-template-columns: repeat(3, 1fr);
  }
}